
@font-face {
    font-family: 'Levavot';
    src: url('https://github.com/heliiiiiii/heliiiiiii.github.io/blob/main/levavot/levavot-webfont.woff2') format('woff2'),
         url('https://github.com/heliiiiiii/heliiiiiii.github.io/blob/main/levavot/levavot-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
