
@font-face {
    font-family: 'Levavot';
    src: url('levavot-webfont.woff2') format('woff2'),
         url('levavot-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
